<footer class="footer">
  <div class="container">
    <div class="footer-meta">
      <a href="#" class="logo"> total clean </a>
      {% include 'components/nav-menu.html' %}
      <ul class="social-list">
        <li>
          <a href="">
            <svg aria-label="facebook">
              <use href="../../assets/images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg aria-label="instagram">
              <use href="../../assets/images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg aria-label="whatsapp">
              <use href="../../assets/images/sprite.svg#icon-whatsapp"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="copyright">Created by SoftRyzen</p>
  </div>
</footer>
