<footer class="footer">
  <div class="container">
    <div class="footer-meta">
      <a href="#" class="logo">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="../../assets/images/sprite.svg#icon-logo-simple"
          />
          <svg class="logo-img" width="44px" height="39px" aria-label="logotype">
            <use href="../../assets/images/sprite.svg#icon-logo"></use>
          </svg>
        </picture>
        total clean
      </a>
      {% include 'components/nav-menu.html' %}
      <ul class="social-list">
        <li>
          <a href="">
            <svg width="30px" height="30px" aria-label="facebook">
              <use href="../../assets/images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="30px" height="30px" aria-label="instagram">
              <use href="../../assets/images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="30px" height="30px" aria-label="whatsapp">
              <use href="../../assets/images/sprite.svg#icon-whatsapp"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="copyright">Created by SoftRyzen</p>
  </div>
</footer>
