<div class="popup__backdrop is-hidden" data-popup>
  <div class="popup is-hidden">
    <svg class="popup__close-icon" aria-label="Close popup" data-popup-close>
      <use href="assets/images/sprite.svg#icon-close"></use>
    </svg>
    <div class="popup-content">
      <h2 class="section-title popup__title">Thank you!</h2>
      <p class="popup__subtitle">We have received your application and will be in touch soon</p>
      <button class="accent-btn popup__btn" type="button">Got it</button>
    </div>
  </div>
</div>
