.hero {
  background-color: var(--primary-bg);

  background-image: url('../../assets/images/hero/hero-mb@1x.png');
  background-repeat: no-repeat;
  background-position: top 20px center;

  @include mq(tablet) {
    background-image: url('../../assets/images/hero/hero-tb@1x.png');
    background-position: center left 52.4vw;
  }

  @include mq(desktop) {
    background-image: url('../../assets/images/hero/hero-dt@1x.png');
    background-position: center left 48.5vw;
  }
}

// .hero-wrapper {
//   background-image: url('../../assets/images/hero/hero-mb@1x.png');
//   background-repeat: no-repeat;
//   background-position: top 20px center;

//   @include mq(tablet) {
//     background-image: url('../../assets/images/hero/hero-tb@1x.png');
//     background-position: center right -243px;
//   }

//   @include mq(desktop) {
//     background-image: url('../../assets/images/hero/hero-dt@1x.png');
//     background-position: center right;
//   }
// }

.hero-meta {
  padding: 216px 0 40px;
  width: 100%;

  @include mq(tablet) {
    padding: 133px 0;
    width: 360px;

    background-image: url('../../assets/images/hero/star.svg'), url('../../assets/images/hero/star.svg'), url('../../assets/images/hero/star.svg');
    background-repeat: no-repeat;
    background-position: top 76.7px left, top 95px left 295px, top 135px left 335px;
  }

  @include mq(desktop) {
    padding: 189px 0;
    width: 592px;

    background-position: top 133px left, top 152px left 341px, top 198.5px left 380px;
  }
}

.title {
  margin-bottom: 16px;

  font-family: var(--title-font);
  font-size: 32px;
  line-height: 1.19;
  font-weight: 400;

  color: var(--primary-txt-cl);

  @include mq(mobile-only){
    text-align: center;
  }

  @include mq(tablet) {
    margin-bottom: 24px;
    font-size: 44px;
    line-height: 1.15;
  }

  @include mq(desktop) {
    font-size: 52px;
  }
}

.subtitle {
  margin-bottom: 24px;
  font-size: 20px;

  font-weight: 500;
  line-height: 1.4;

  color: var(--secondary-txt-cl);

  @include mq(desktop) {
    margin-bottom: 32px;

    width: 500px;

    font-size: 22px;
    line-height: 1.36;
  }
}