<section class="section about-us" id="about-us">
  <div class="about-us__container container">
    <div class="about-us__text-wrapper">
      <h2 class="section-title about-us__title">About Us</h2>
      <p class="about-us__text">
        Cleaning company Total Clean was founded in 2018, during our work we have established
        ourselves as a reliable and experienced partner. Our goal is to increase the number of
        satisfied customers.
      </p>
      <p class="about-us__text">
        The mission of the company is to create comfortable conditions for the client, to provide
        order and cleanliness.
      </p>
    </div>

    <div class="about-us__info-wrapper">
      <ul class="about-us__info-list">
        <li class="about-us__info-item about-us__info-item--blue">
          <div class="about-us__info-item about-us__info-item--large">
            <div class="about-us__info-item about-us__info-item--small">
              <span class="about-us__info-item-num">2018</span>Founded
            </div>
          </div>
        </li>
        <li class="about-us__info-item about-us__info-item--yellow">
          <div class="about-us__info-item about-us__info-item--large about-us__info-item--yellow">
            <div class="about-us__info-item about-us__info-item--small about-us__info-item--yellow">
              <span class="about-us__info-item-num">130</span>Cleanings
            </div>
          </div>
        </li>
        <li class="about-us__info-item about-us__info-item--brown">
          <div class="about-us__info-item about-us__info-item--large about-us__info-item--brown">
            <div class="about-us__info-item about-us__info-item--small about-us__info-item--brown">
              <span class="about-us__info-item-num">12</span>Teams
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
