<section id="reviews" class="section">
  <div class="container reviews">
    <h2 class="section-title">Reviews</h2>
    <div class="swiper">
      <ul class="reviews-list swiper-wrapper">
        <li class="reviews-card swiper-slide">
          <div class="review-content">
            <img src="../../../assets/images/reviews/Review1@1x.jpg" alt="video poster"></img>
            <button class="play-btn" type="button" data-video="https://www.youtube.com/embed/FZtJLpsBvQk">
            </button>
          </div>
          <div class="reviewer-meta">
            <img
              class="reviewer-avatar"
              src="../../../assets/images/reviews/reviewer1@1x.jpg"
              alt="avatar"
            />
            <p class="reviewer-name">
              Cameron Williamson
              <span class="rating">
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
              </span>
            </p>
          </div>
        </li>
        <li class="reviews-card swiper-slide">
          <div class="review-content">
            <p>
              I wanted to write and express my deep appreciation for the women who did a deep clean of
              my home in Asheville NC. The service was outstanding, exceptional, reliable, dependable,
              and extremely professional. Your office was my third attempt to find a good house
              cleaning service.
            </p>
          </div>
          <div class="reviewer-meta">
            <img
              class="reviewer-avatar"
              src="../../../assets/images/reviews/reviewer2@1x.jpg"
              alt="avatar"
            />
            <p class="reviewer-name">
              Mary Roberts
              <span class="rating">
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
              </span>
            </p>
          </div>
        </li>
        <li class="reviews-card swiper-slide">
          <div class="review-content">
            <img src="../../../assets/images/reviews/Review3@1x.jpg" alt="video poster"></img>
            <button class="play-btn" type="button" data-video="">
            </button>
          </div>
          <div class="reviewer-meta">
            <img
              class="reviewer-avatar"
              src="../../../assets/images/reviews/reviewer3@1x.jpg"
              alt="avatar"
            />
            <p class="reviewer-name">
              Patricia Howard
              <span class="rating">
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
              </span>
            </p>
          </div>
        </li>
        <li class="reviews-card swiper-slide">
          <div class="review-content">
            <p>
              I am a very picky individual. So when I do a walk through I don't say much. But its the little things that always catch my attention. Gladys, Shimeka and Angelica got all those places most overlook. They did an amazing job which makes my day so much brighter. Thank you ladies!
            </p>
          </div>
          <div class="reviewer-meta">
            <img
              class="reviewer-avatar"
              src="../../../assets/images/reviews/reviewer4@1x.jpg"
              alt="avatar"
            />
            <p class="reviewer-name">
              Emre Dilek
              <span class="rating">
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
              </span>
            </p>
          </div>
        </li>
        <li class="reviews-card swiper-slide">
          <div class="review-content">
            <img src="../../../assets/images/reviews/Review1@1x.jpg" alt="video poster"></img>
            <button class="play-btn" type="button" data-video="">
              <svg class="icon-play" width="42px" height="44px" aria-label="play" aria-label="play">
                <use href="../../../assets/images/sprite.svg#icon-play"></use>
              </svg>
            </button>
          </div>
          <div class="reviewer-meta">
            <img
              class="reviewer-avatar"
              src="../../../assets/images/reviews/reviewer5@1x.jpg"
              alt="avatar"
            />
            <p class="reviewer-name">
              Annette Black
              <span class="rating">
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
              </span>
            </p>
          </div>
        </li>
        <li class="reviews-card swiper-slide">
          <div class="review-content">
            <p>
              My home always smells fresh and is professionally sparkling clean! Christy and her team of Angela and Ally do a fabulous job in every nook and cranny of my home. Thank you very much, ladies, always the best services.
            </p>
          </div>
          <div class="reviewer-meta">
            <img
              class="reviewer-avatar"
              src="../../../assets/images/reviews/reviewer6@1x.jpg"
              alt="avatar"
            />
            <p class="reviewer-name">
              Albert Flores
              <span class="rating">
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
              </span>
            </p>
          </div>
        </li>
        <li class="reviews-card swiper-slide">
          <div class="review-content">
            <img src="../../../assets/images/reviews/Review3@1x.jpg" alt="video poster"></img>
            <button class="play-btn" type="button" data-video="">
              <svg class="icon-play" width="42px" height="44px" aria-label="play" aria-label="play">
                <use href="../../../assets/images/sprite.svg#icon-play"></use>
              </svg>
            </button>
          </div>
          <div class="reviewer-meta">
            <img
              class="reviewer-avatar"
              src="../../../assets/images/reviews/reviewer7@1x.jpg"
              alt="avatar"
            />
            <p class="reviewer-name">
              Theresa Webb
              <span class="rating">
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
              </span>
            </p>
          </div>
        </li>
        <li class="reviews-card swiper-slide">
          <div class="review-content">
            <p>
              They were very courteous and professional in the performance of their duties. They gave additional attention to the bedroom and kitchen as my Mom requested. Thank you for your service, your kindness and respect towards my Mother and your overall professionalism in the performance of your duties.
            </p>
          </div>
          <div class="reviewer-meta">
            <img
              class="reviewer-avatar"
              src="../../../assets/images/reviews/reviewer8@1x.jpg"
              alt="avatar"
            />
            <p class="reviewer-name">
              Ralph Edwards
              <span class="rating">
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
              </span>
            </p>
          </div>
        </li>
        <li class="reviews-card swiper-slide">
          <div class="review-content">
            <img src="../../../assets/images/reviews/Review1@1x.jpg" alt="video poster"></img>
            <button class="play-btn" type="button" data-video="">
            </button>
          </div>
          <div class="reviewer-meta">
            <img
              class="reviewer-avatar"
              src="../../../assets/images/reviews/reviewer1@1x.jpg"
              alt="avatar"
            />
            <p class="reviewer-name">
              Cameron Williamson
              <span class="rating">
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
              </span>
            </p>
          </div>
        </li>
        <li class="reviews-card swiper-slide">
          <div class="review-content">
            <p>
              I wanted to write and express my deep appreciation for the women who did a deep clean of
              my home in Asheville NC. The service was outstanding, exceptional, reliable, dependable,
              and extremely professional. Your office was my third attempt to find a good house
              cleaning service.
            </p>
          </div>
          <div class="reviewer-meta">
            <img
              class="reviewer-avatar"
              src="../../../assets/images/reviews/reviewer2@1x.jpg"
              alt="avatar"
            />
            <p class="reviewer-name">
              Mary Roberts
              <span class="rating">
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
              </span>
            </p>
          </div>
        </li>
        <li class="reviews-card swiper-slide">
          <div class="review-content">
            <img src="../../../assets/images/reviews/Review3@1x.jpg" alt="video poster"></img>
            <button class="play-btn" type="button" data-video="">
            </button>
          </div>
          <div class="reviewer-meta">
            <img
              class="reviewer-avatar"
              src="../../../assets/images/reviews/reviewer3@1x.jpg"
              alt="avatar"
            />
            <p class="reviewer-name">
              Patricia Howard
              <span class="rating">
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
              </span>
            </p>
          </div>
        </li>
        <li class="reviews-card swiper-slide">
          <div class="review-content">
            <p>
              I am a very picky individual. So when I do a walk through I don't say much. But its the little things that always catch my attention. Gladys, Shimeka and Angelica got all those places most overlook. They did an amazing job which makes my day so much brighter. Thank you ladies!
            </p>
          </div>
          <div class="reviewer-meta">
            <img
              class="reviewer-avatar"
              src="../../../assets/images/reviews/reviewer4@1x.jpg"
              alt="avatar"
            />
            <p class="reviewer-name">
              Emre Dilek
              <span class="rating">
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
                <svg width="16px" height="16px">
                  <use href="../../../assets/images/sprite.svg#icon-rating"></use>
                </svg>
              </span>
            </p>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
