<section class="services" id="services">
  <div class="services__container container">
    <h2 class="section-title services__title">About Us</h2>

    <div class="services__wrapper">
      <ul class="services__list">
        <li class="services__item services__item--blue" id="card1">
          <div class="services__item-text-wrapper">
            <p class="services__text">Cleaning of apartments, houses, cottages and offices</p>
            <button class="services__arrow-btn">
              <svg class="services__arrow-icon" width="24" height="24">
                <use href="assets/images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </div>
          <div class="services__bgcard1"></div>
        </li>
        <li class="services__item services__item--brown" id="card2">
          <div class="services__item-text-wrapper">
            <p class="services__text">Washing of windows, facades and showcases</p>
            <button class="services__arrow-btn">
              <svg class="services__arrow-icon" width="24" height="24">
                <use href="assets/images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </div>
          <div class="services__bgcard2"></div>
        </li>
        <li class="services__item services__item--blue" id="card3">
          <div class="services__item-text-wrapper">
            <p class="services__text">Cleaning after repair, removal of construction waste</p>
            <button class="services__arrow-btn">
              <svg class="services__arrow-icon" width="24" height="24">
                <use href="assets/images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </div>
          <div class="services__bgcard3"></div>
        </li>
        <li class="services__item services__item--brown" id="card4">
          <div class="services__item-text-wrapper">
            <p class="services__text">Carpet and furniture cleanings</p>
            <button class="services__arrow-btn">
              <svg class="services__arrow-icon" width="24" height="24">
                <use href="assets/images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </div>
          <div class="services__bgcard4"></div>
        </li>
      </ul>
    </div>
  </div>
</section>
