<section class="section services" id="services">
  <div class="services__container container">
    <h2 class="section-title services__title">Our Services</h2>

    <div class="services__wrapper">
      <ul class="services__list">
        <li class="services__item services__item--blue" id="card1" data-modal-open>
          <div class="services__item-text-wrapper">
            <p class="services__text">Cleaning of apartments, houses, cottages and offices</p>
            <button class="services__arrow-btn">
              <svg class="services__arrow-icon" width="24" height="24">
                <use href="assets/images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </div>
          <picture class="services__image services__image--girl">
            <source
              srcset="
                ./assets/images/services/mobile/girl.webp    1x,
                ./assets/images/services/mobile/girl@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./assets/images/services/mobile/girl.png    1x,
                ./assets/images/services/mobile/girl@2x.png 2x
              "
              type="image/png"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./assets/images/services/tablet/girl.webp    1x,
                ./assets/images/services/tablet/girl@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
              srcset="
                ./assets/images/services/tablet/girl.png    1x,
                ./assets/images/services/tablet/girl@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
              srcset="
                ./assets/images/services/desktop/girl.webp    1x,
                ./assets/images/services/desktop/girl@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./assets/images/services/desktop/girl.png    1x,
                ./assets/images/services/desktop/girl@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1280px)"
            />

            <img
              src="./assets/images/services/desktop/girl.png"
              alt="girl"
              width="141"
              height="214"
              loading="lazy"
            />
          </picture>
          <div class="services__bgcard1"></div>
        </li>

        <li class="services__item services__item--brown" id="card2" data-modal-open>
          <div class="services__item-text-wrapper">
            <p class="services__text services__text--card2">
              Washing of windows, facades and showcases
            </p>
            <button class="services__arrow-btn">
              <svg class="services__arrow-icon" width="24" height="24">
                <use href="assets/images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </div>

          <picture class="services__image services__image--sprayer">
            <source
              srcset="
                ./assets/images/services/mobile/sprayer.webp    1x,
                ./assets/images/services/mobile/sprayer@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./assets/images/services/mobile/sprayer.png    1x,
                ./assets/images/services/mobile/sprayer@2x.png 2x
              "
              type="image/png"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./assets/images/services/tablet/sprayer.webp    1x,
                ./assets/images/services/tablet/sprayer@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
              srcset="
                ./assets/images/services/tablet/sprayer.png    1x,
                ./assets/images/services/tablet/sprayer@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
              srcset="
                ./assets/images/services/desktop/sprayer.webp    1x,
                ./assets/images/services/desktop/sprayer@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./assets/images/services/desktop/sprayer.png    1x,
                ./assets/images/services/desktop/sprayer@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1280px)"
            />

            <img
              src="./assets/images/services/desktop/sprayer.png"
              alt="sprayer"
              width="334"
              height="219"
              loading="lazy"
            />
          </picture>
          <div class="services__bgcard2"></div>
        </li>

        <li class="services__item services__item--blue" id="card3" data-modal-open>
          <div class="services__item-text-wrapper">
            <p class="services__text services__text--card3">
              Cleaning after repair, removal of construction waste
            </p>
            <button class="services__arrow-btn">
              <svg class="services__arrow-icon" width="24" height="24">
                <use href="assets/images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </div>
          <picture class="services__image services__image--roller">
            <source
              srcset="
                ./assets/images/services/mobile/roller.webp    1x,
                ./assets/images/services/mobile/roller@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./assets/images/services/mobile/roller.png    1x,
                ./assets/images/services/mobile/roller@2x.png 2x
              "
              type="image/png"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./assets/images/services/tablet/roller.webp    1x,
                ./assets/images/services/tablet/roller@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
              srcset="
                ./assets/images/services/tablet/roller.png    1x,
                ./assets/images/services/tablet/roller@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
              srcset="
                ./assets/images/services/desktop/roller.webp    1x,
                ./assets/images/services/desktop/roller@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./assets/images/services/desktop/roller.png    1x,
                ./assets/images/services/desktop/roller@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1280px)"
            />

            <img
              src="./assets/images/services/desktop/roller.png"
              alt="roller"
              width="334"
              height="163"
              loading="lazy"
            />
          </picture>
          <div class="services__bgcard3"></div>
        </li>

        <li class="services__item services__item--brown" id="card4" data-modal-open>
          <div class="services__item-text-wrapper">
            <p class="services__text services__text--card4">Carpet and furniture cleanings</p>
            <button class="services__arrow-btn">
              <svg class="services__arrow-icon" width="24" height="24">
                <use href="assets/images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </div>
          <picture class="services__image services__image--chair">
            <source
              srcset="
                ./assets/images/services/mobile/chair.webp    1x,
                ./assets/images/services/mobile/chair@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./assets/images/services/mobile/chair.png    1x,
                ./assets/images/services/mobile/chair@2x.png 2x
              "
              type="image/png"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./assets/images/services/tablet/chair.webp    1x,
                ./assets/images/services/tablet/chair@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
              srcset="
                ./assets/images/services/tablet/chair.png    1x,
                ./assets/images/services/tablet/chair@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
              srcset="
                ./assets/images/services/desktop/chair.webp    1x,
                ./assets/images/services/desktop/chair@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./assets/images/services/desktop/chair.png    1x,
                ./assets/images/services/desktop/chair@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1280px)"
            />

            <img
              src="./assets/images/services/desktop/chair.png"
              alt="chair"
              width="189"
              height="197"
              loading="lazy"
            />
          </picture>
          <div class="services__bgcard4"></div>
        </li>
      </ul>
    </div>
  </div>
</section>
